body,html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
	max-width:1000px;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

#header {
    padding: 5px 0px;
    color:#403F3F;
    text-align:center;
    margin: auto;
    border-bottom: 1px solid;
}

h3{
    font-weight: 900;
}

.logo{
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.container {
    padding:20px;
    margin: auto;
	width:100%;
    overflow-x: hidden;
}


.right{
    float: right;
}

.left{
    float: left;
}


#image{
    float:left;
    padding:0px 20px 20px 0px;
}

.list_box{
    width:100%;
    overflow:hidden;
}

.box{
    display: inline-block;
    width: 50%;
    float:left;
}


img{
    max-width: 100%; 
    height: auto;
    vertical-align: middle;
}

#identity {
    overflow: auto;
}

